{
  "watson":
  {
    "url": "https://gateway.watsonplatform.net/visual-recognition/api",
    "note": "It may take up to 5 minutes for this key to become active",
    "api_key": "Visual RecognitionのAPIキーをここに入力してください"
  }
}
